body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 13px;
  color: #122d40;
  background-color: #F8F8F8;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

button {
  background-color: #fb534a;
  color: #fff;
  padding: 5px 20px;
  margin: 10px 0;
  height: 35px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;

}

h2 {
  font-size: 20px;
  font-weight: 600;
}

tr {
  color: #122d40;
}

tr:last-child {
  font-weight: bold;
}

input {
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: #E8E8E8 solid 1px;
  float: right;
  width: 40%;
}

.header {
  padding: 25px 0 15px 0;
}

.form-inputs {
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 0px;
}

.input {
  margin: 5px;
}

.calculators {
  margin-top: 30px;
}
